<form action="/login" method="POST">
    LOGIN<br/><br/>
    <input name="email" placeholder="E-mail" type="email">
    <input name="password" placeholder="Password" type="password">

    <input type="submit" value="Log in">
</form>