<form action="/login" method="post">
    LOGIN FORM<br/><br/>
    <input name="email" placeholder="EMail" type="email">
    <input name="password" placeholder="Password" type="password">

    <input type="submit" value="submit">
</form>