<form action="/login" method="post">
    LOGIN FORM<br/>
    <input name="email" placeholder="E-mail" type="email">
    <input name="password" placeholder="Password" type="password">

    <input type="submit" value="submit">
</form>