<form action="/register" method="POST">
    JOIN US<br/><br/>
    <input name="username" placeholder="User Name" type="text">
    <input name="email" placeholder="EMail" type="email">
    <input name="password" type="password" placeholder="Password">

    <input type="submit" value="Submit">
</form>
<br>
<%- include('partials/footer.ejs') %> 