<form action="/register" method="POST">
    JOIN US<br/>
    <input name="username" placeholder="Username" type="text">
    <input name="email" placeholder="Email" type="email">
    <input name="password" placeholder="Password" type="password">

    <input type="submit" value="Register">
</form>
<br>
<%- include('partials/footer.ejs') %> 